body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Lato", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Lato, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: "Lato";
  src: local("Lato"),
    url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap)
      format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
